<h1>User Profile</h1>
{{#if isAdmin}}
  <div class="container">
    <h1>Welcome, {{user.name}}</h1>
    <h2>Your Admin Dashboard</h2>
    <p>This is your admin dashboard, where you can manage your calendar and
      other admin-related tasks.</p>
    {{>calendar}}
  </div>

{{else}}
  this is the else block
  <h2>Welcome, {{user.name}}</h2>
  <ul>
    <li>Email: {{user.email}}</li>
  </ul>

  <h2>Your Pets:</h2>
  {{#if user.pets}}
    {{#each user.pets as |pet|}}
      <h2>{{pet.name}}</h2>
      <h3>Type: {{pet.petType}}</h3>
      <h4>Breed: {{pet.petBreed}}</h4>
    {{/each}}
  {{else}}
    <p>You have not added any pets yet.</p>
  {{/if}}

  <button onclick="location.href='/pet/add-pet'" type="button">
    Add New Pet
  </button>
{{/if}}